<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css/mystyles.css">
    <title>Cotações</title>
    <link rel="icon" href="/media/icons/dolar.png">
</head>

<body>  
    <div class="all">
        <div class="block">
            <h1 class="title is-1">Conversor de moedas</h1> 
        </div>
        
        <table class="table">
            <tr>
                <td>
                    <div class="select is-warning">
                        <select></select>
                    </div>
                </td>
                <td>
                    <div class="control">
                        <input class="input" type="number">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="select is-warning">
                        <select></select>
                    </div>
                </td>
                <td>
                    <input class="input" type="text" readonly></input>
                </td>
            </tr>
        </table>
    </div>
    <script src="/javascript/index.js"></script>
</body>

</html> 