<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css/mystyles.css">
    <title>Cotações</title>
    <link rel="icon" href="/media/icons/dolar.png">
</head>

<body>  
    <div class="all">
        <div class="block">
            <h1 class="title is-1">Conversor de moedas</h1> 
        </div>
        
        <table class="table" id="table">
            <tr>
                <td>
                    <div class="select is-warning is-rounded">
                        <select></select>
                        <i class='fas fa-arrow-down'></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="select is-warning is-rounded">
                        <select id="margint"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="margint" class="control">
                        <input class="input is-warning is-rounded is-focused " type="number">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="input is-warning is-rounded" type="text" readonly value="Insira uma moeda  ⇑"></input>
                </td>
            </tr>
        </table>
        <div>
            <footer>By Aenã Martinelli</footer>
        </div>
    </div>
    <script src="/javascript/index.js"></script>
</body>

</html> 